<% flash.each do |task_type, task| %>
  <div class="alert alert-<%= task_type %>><%= task %></div>
   <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>